body {
    margin: 0;
    background-color: #fff;
    font-family: 'Merriweather', serif;
}

.container {
    margin-bottom: 100px;
}

.style-color {
    color: #ff4d4d;
}

h1 {
    font-size: 42px;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
}

img {
    max-width: 60%;
}

.flexible-container {
    display: flex;
    margin: 3% 10%;
}

.hero-banner-child {
    width: 50%;
}



.hero-banner-child h1 {
    border-left: 3px solid green;
    padding: 0px 10px;
}

.hero-ch-1 p {
    text-align: justify;
    margin-bottom: 40px;
}

.hero-ch-2 img {
    margin-left: 30%;
}

.link-button {
    color: white;
    background-color: #3b3358;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 30px;
}

/*============
Mission Area
=============*/


.mission-area h1 {
    text-align: center;
}

.mission-child {
    width: 24%;
    padding: 2%;
    margin-left: 5%;
    border-radius: 5%;

}

.mission-ch-1 {
    background-color: #b9cacc;
    box-shadow: 1px 1px 25px #000000;
}

.mission-ch-2 {
    background-color: #d1acac;
    box-shadow: 1px 1px 25px #000000;

}

.mission-ch-3 {
    background-color: #a797bb;
    box-shadow: 1px 1px 25px #000000;

}